@use 'variables';
@use 'mixins';

.foot{
    //border: 1px solid green;
    display: flex;
    justify-content: center;
    

    
}

#boton{
    height: 50px;
    border-radius: 5px;
    background-color: variables.$Orange;
    font-weight: 700;
    margin-bottom: 10px;
    color: variables.$Black-modal;
}